<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

    <!-- 根据订单状态查询订单 -->
    <select id="selectByUserIdAndStatus" resultType="com.sky.entity.Orders">
        SELECT * FROM orders
        <where>
            <if test="status != null">
                status = #{status}
            </if>
        </where>
    </select>

    <!-- 根据条件查询订单 -->
    <select id="selectByCondition" resultType="com.sky.entity.Orders">
        SELECT * FROM orders
        <where>
            <if test="number != null">
                AND number LIKE concat('%', #{number}, '%')
            </if>
            <if test="phone != null">
                AND phone = #{phone}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="beginTime != null">
                AND order_time >= #{beginTime}
            </if>
            <if test="endTime != null">
                AND order_time &lt;= #{endTime}
            </if>
        </where>
    </select>

    <!-- 根据Id更新订单 -->
    <update id="updateById">
        UPDATE orders
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="checkoutTime != null">
                checkout_time = #{checkoutTime},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus},
            </if>
            <if test="cancelReason != null">
                cancel_reason = #{cancelReason},
            </if>
            <if test="cancelTime != null">
                cancel_time = #{cancelTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>