<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insert">
        INSERT INTO order_detail VALUES
        <foreach collection="orderDetailList" item="orderDetail" separator=",">
            (null, #{orderDetail.name}, #{orderDetail.image}, #{orderDetail.orderId}, #{orderDetail.dishId}, #{orderDetail.setmealId}, #{orderDetail.dishFlavor}, #{orderDetail.number}, #{orderDetail.amount})
        </foreach>
    </insert>

    <select id="selectTop10" resultType="com.sky.dto.GoodsSalesDTO">
        SELECT name, SUM(order_detail.number) AS number
        FROM order_detail
                 JOIN orders ON order_detail.order_id = orders.id
        WHERE order_time BETWEEN #{beginDate} AND #{endDate}
        GROUP BY name
        ORDER BY number DESC
        LIMIT 10
    </select>

</mapper>