<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">

    <!--  -->
    <select id="selectSetmealByPage" resultType="com.sky.entity.Setmeal">
        SELECT * FROM setmeal
        <where>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="status != null">
                AND status = !{status}
            </if>
        </where>
    </select>

    <update id="updateSetmeal">
        UPDATE setmeal
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            update_time = #{updateTime}, update_user = #{updateUser}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 批量删除套餐 -->
    <delete id="deleteSetmeal">
        DELETE FROM setmeal WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>